.log-table {
  font-family: 'Courier New', Courier, monospace;
}

.log-table th, .log-table td {
  white-space: pre-wrap; /* Preserve spaces and line breaks */
  word-wrap: break-word; /* Ensure words break to fit within the container */
}

/* Remove the common container styling */
.filter-container, .log-level-container, .total-filtering-container {
  margin-bottom: 20px;
}

/* Heading styling */
.filter-container h4, .log-level-container h4, .total-filtering-container h4 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

/* Label styling */
.filter-container label, .log-level-container label, .total-filtering-container label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  margin-right: 20px; /* Add spacing between label groups */
}

/* Checkbox styling */
.filter-container input[type="checkbox"],
.total-filtering-container input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}


.total-filtering-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}

.tag span {
  margin-left: 10px;
  color: red;
  cursor: pointer;
}
.search-term-container {
  margin-top: 20px; /* Add a gap above the entire component */
  margin-bottom: 20px;
}

.toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button:hover {
  background-color: #0056b3;
}

.menu {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.menu-item {
  display: block;
  margin-bottom: 10px;
}

.menu-item label {
  display: inline-block;
  width: 50px;
}

.menu-item select,
.menu-item input {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-button {
  background-color: #007bff; /* Same blue color as toggle button */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.add-button:hover {
  background-color: #0056b3; /* Darker blue when hovering */
}

.tag {
  display: inline-block;
  background-color: #e9ecef;
  color: #343a40;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  min-width: 100px;
  max-width: fit-content;
  width: auto;
  white-space: nowrap; 
}

.remove-tag {
  color: red;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

.remove-tag:hover {
  color: darkred;
}

.filter-label{
  width:220px;
}

.filter-label:hover {
  color: #007bff;
  transform: translateY(-2px);
  cursor: pointer;
}

