<app-search-input (search)="onSearch($event)"></app-search-input>

<div class="total-filtering-container">
  <app-log-level-filters
    [logLevels]="logLevels"
    [selectedAdapterLogLevels]="selectedAdapterLogLevels"
    [selectedServerLogLevels]="selectedServerLogLevels"
    [selectedSIPLogLevels]="selectedSIPLogLevels"
    (filterChange)="onFilterChange($event)"
  ></app-log-level-filters>

  <app-source-filters
    [showAdapterLogs]="showAdapterLogs"
    [showServerLogs]="showServerLogs"
    [showSIPLogs]="showSIPLogs"
    (sourceToggle)="toggleSource($event)"
  ></app-source-filters>

  <div>
    <label>
      <input type="checkbox" [checked]="removeFluff" (change)="toggleRemoveFluff()"> Remove Fluff
    </label>
    <label>
      <input type="checkbox" [checked]="showCorrelationLogs" (change)="toggleCorrelationLogs()"> Include Correlation Logs
    </label>
  </div>
</div>

<app-cdr-dropdown [fields]="fields" (selectedFieldsChange)="onSelectedFieldsChange($event)"></app-cdr-dropdown>

<div>
  <button (click)="showMenu = !showMenu">Add Search Term</button>
  <div *ngIf="showMenu">
    <label>
      Log:
      <select [(ngModel)]="selectedLog">
        <option *ngFor="let log of ['adapter_logs', 'server_logs', 'sip_logs']" [value]="log">{{ log }}</option>
      </select>
    </label>
    <label>
      Term:
      <input type="text" [(ngModel)]="searchTerm">
    </label>
    <button (click)="addSearchTerm(selectedLog, searchTerm); showMenu = false;">Add</button>
  </div>
</div>

<div *ngFor="let term of searchTerms; let i = index" class="tag">
  {{ term.log }}: {{ term.term }} <span (click)="removeSearchTerm(i)">x</span>
</div>


<app-results-display [results]="filteredResults" [getBackgroundColor]="getBackgroundColor"></app-results-display>

